.name{font-size: 2.5em;
}

#translate{
    background-color: rgb(251, 248, 252);
    color: black;
    height:40px; 
    width: 20%;
}

#txt-input{
    border: 3px solid rgb(128, 9, 0); 
    position:italic; 
    top:-50px;
    height:150px; 
    width: 60%;
    font-family: italic;
}
.font{
    font-family: italic;
}
body{
    background-color: rgb(90, 253, 239);
}
.ab{
    font-family: italic;
}
.sty{
    font-family: italic;
}